{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="py-5 text-center min-view-height">
    <h1 class="lead-heading">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change py-2">
        {% csrf_token %}
        {{ form.as_p }}
        <button  class="btn btn-lg btn-f1" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}
