:root {
    --f1-red: #E13726;
    --white: #fff;
    --black: #000;
    --green: #2cd341;
    --yellow: #ebff00;
}

@font-face {
    font-family: Formula1-Black;
    src: url('Formula1-Black.ttf');
}

@font-face {
    font-family: Formula1-Bold;
    src: url('Formula1-Bold.ttf');
}

@font-face {
    font-family: Formula1-Regular;
    src: url('Formula1-Regular.ttf');
}

@font-face {
    font-family: Formula1-Wide;
    src: url('Formula1-Wide.ttf');
}

body {
    font-family: 'Formula1-Regular';
}

.min-section-height {
    min-height: 15rem;
}

.white-section {
    color: var(--black);
    background-color: var(--white);
    padding-bottom: 1.75rem;
}

.black-section {
    color: var(--white);
    background-color: var(--black);
    padding-bottom: 1.75rem;
}

.section-heading {
    font-family: 'Formula1-Bold';
    font-size: 1.75rem;
}

/* header */

#logo-image {
    height: 100%;
    padding: 1rem 0 1rem 1rem;
}

/* navbar */

.navbar {
    border-bottom: 1.75rem solid var(--f1-red);
    padding: 0;
}

.nav-link {
    font-family: 'Formula1-Regular';
    color: var(--black);
    text-align: center;
    align-items: center;
    font-size: larger;
}

.nav-link:hover {
    color: var(--f1-red);
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    background-color: var(--f1-red);
    margin: 0 auto;
}

.navbar-toggler-icon .fa-bars {
    color:var(--white); 
    font-size: 1.75rem;
}

.btn-f1 {
    font-family: 'Formula1-Bold';
    background-color: var(--f1-red);
    color: var(--white);
    font-weight: bold;
}

.btn-f1:hover {
    background-color: var(--black);
    color: var(--f1-red);
}

.red-section {
    color: var(--white);
    background-color: var(--f1-red);
    padding-bottom: 1.75rem;
}

/* carousel */
.carousel-inner {
    max-height: 35rem;
}

/* race details */
#A, #B, #C, #D {
    fill: var(--f1-red);
    stroke: var(--black);
    stroke-width: 4;
}

#A:hover, #B:hover, #C:hover, #D:hover {
    fill: var(--green);
}

.stand-font {
    font-weight: bold;
    font-size: 1.75rem;
}

#individual_seats {
    width:100%
}

/* cards how to book */
.card-text {
    color: var(--black);
}

.card {
    width: 75%;
    text-align: center;
}

/* footer */
footer ul {
    padding: 0;
}

footer a {
    text-decoration: none;
}

.socials li {
    display: inline;
}

.socials i {
    color: var(--white);
    font-size: 2.5rem;
    width: 23.5%;
    text-align: center;
    padding: 1.75rem 0 1rem;
    transition-delay: 0.2s;
}

.socials i:hover, .section-links li a:hover {
    color: var(--black);
}

.section-links li {
    text-align: center;
    list-style: none;
}

.section-links a {
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 0;
    font-family: 'Formula1-Regular';
}

/* teams styling */
.ticket {
    width: 100%;
    height: 15rem;
}

.flag {
    position: absolute;
    top: 5%;
    right: 5%;
}

.logo {
    position: absolute;
    top: 5%;
    left: 5%;
}

.ticket-text {
    font-size: 5rem;
    font-family: 'Formula1-Bold';
}

.mclaren {
    background-color: #fa8905;
    color: #23b5dc;
}

.alfa_romeo {
    background-color: #e9063a;
    color: var(--white);
}

.alphatauri {
    background-color: var(--white);
    color: #01219a;
}

.alpine {
    background-color: #1445eb;
    color: var(--white);
}

.aston_martin {
    background-color: var(--white);
    color: #014b2c;
}

.ferrari {
    background-color: var(--f1-red);
    color: #feff00;
}

.haas {
    background-color: var(--white);
    color: var(--f1-red);
}

.mercedes {
    background-color: #10d3ca;
    color: #464749;
}

.red_bull {
    background-color: #083bc0;
    color: #db0a17;
}

.williams {
    background-color: var(--white);
    color: #00d2ff;
}

/* card body */

.card-body {
    margin-top: 0.2rem;
    background-color: var(--black);
}