{% extends "base.html" %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide section" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner min-section-height">
        <div class="carousel-item active">
            <div class="promote-race black-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 1 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race red-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 2 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race green-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 3 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="race-section" class="container-fluid text-center section white-section">
    <div class="row min-section-height">
        <div class="col-12 col-md-4 my-auto">
            <img class="img-fluid" id="track_graphic" src="https://res.cloudinary.com/grawnya/image/upload/v1674393431/track_with_stands_fok6ra.png"
            alt="Track image with stands">
        </div>
        <div class="col-12 col-md-8">
            <h3 class="section-heading py-5">Race Details</h3>
            <div>
                <div class="row pb-2">
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">Summer 2026</h4>
                        <p class="race-fact-title pb-4">Take Place</p>
                    </div>
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">5.33km</h4>
                        <p class="race-fact-title pb-4">Track Length</p>
                    </div>
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">20</h4>
                        <p class="race-fact-title pb-4">Turns</p>
                    </div>
                </div>
                <p>
                    Spanning 5.33km in length, the highly-anticipated Dublin City Grand Prix will finally take place in the Summer of 2026! 
                    With 3 DRS zones and 20 turns, undoubtedly plenty of action will happen out on track, as 20 of the world's best drivers 
                    battle to become the first ever Dublin City Grand Prix winner.
                </p>
                <p>
                    Located in the heart of the city just south of the Liffey, the race will see drivers pass famous sights, 
                    such as Temple Bar, Christchurch and  St. Stephen's Green, before finishing the lap on College Green in front 
                    of Trinity College. 
                </p>
                <p>
                    To view the street track mapped out to the city, please click on the race track diagram with the stands. Alternatively, 
                    if you want to return to the image of the track layout with the stands, click on the Google Map image.
                </p>
                <p>
                    In this first round of ticket bookings, only 4 stands are on offer with 400 tickets available in total. More will be 
                    gradually released based on demand and the remaining tickets will be sold as part of our packages or ones provided by 
                    travel companies associated with us. To buy some tickets, please follow the steps in the section below.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center section min-section-height black-section" id="how-to-book-section">
    <h3 class="section-heading py-5">How to Book</h3>
    <div class="row">
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674583655/register_or_login_na4mx8.png"
                    class="card-img-top" alt="Register and Login Buttons in Navbar">
                <div class="card-body">
                    <h5 class="card-title lead-heading">Login and Create a Profile</h5>
                    <p>You can book up to 5 Tickets for yourself and your friends & family but Register and create a Profile first!</p>
                    <a class="remove-underline-f1" href="{% url 'account_login' %}">
                        <button class="btn btn-f1 my-3 text-center">Login</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674583799/my_tickets_fxgaqw.png"
                    class="card-img-top" alt="Preview of the 'My Tickets' Page">
                <div class="card-body">
                    <h5 class="card-title lead-heading">My Tickets</h5>
                    <p>After logging in, click on the "My Tickets" menu bar option in order to not only buy, but edit and delete existing tickets!</p>
                    <a class="remove-underline-f1" href="{% url 'my_tickets' %}">
                        <button class="btn btn-f1 my-3 text-center">My Tickets</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674584249/show_tickets_pxj42j.png"
                    class="card-img-top" alt="Sample Ticket on the 'Tickets Sold' page">
                <div class="card-body">
                    <h5 class="card-title lead-heading">Show Tickets</h5>
                    <p>Click on the "Tickets Sold" menu bar option to see who else is attending and wants to let you know their details!</p>
                    <a class="remove-underline-f1" href="{% url 'show_attendees' %}">
                        <button class="btn btn-f1 my-3 text-center">Tickets Sold</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}