{% extends "base.html" %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide section" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner min-section-height">
        <div class="carousel-item active">
            <div class="promote-race black-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 1 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race red-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 2 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race green-section">
                <div class="promote-race-text col-md-4 mx-auto">
                    <h3 class="section-heading">Slide 3 with Content</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
                        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
                        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
                        ac
                        sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
                        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="race-section" class="container-fluid text-center section white-section">
    <div class="row min-section-height">
        <div class="track_graphic col-12 col-md-4">
            <!-- use js to change image to real life map -->
            <img src="https://res.cloudinary.com/grawnya/image/upload/v1674393431/track_with_stands_fok6ra.png"
                alt="Track image with stands">
        </div>
        <div class="col-12 col-md-8">
            <h3 class="section-heading py-5">Race Details</h3>
            <div>
                <p>
                    Image to be styled and fit required grid. Details like race location, date of weekend etc. included
                    here.

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lectus leo, vestibulum eu
                    sollicitudin at, aliquet non nisl. Proin ut venenatis felis, sed dignissim elit. Quisque fringilla
                    elementum nibh sed imperdiet. Nullam venenatis ipsum eget.Morbi id magna eros. Suspendisse in mi
                    aliquet, mollis urna eu, gravida felis. Nunc sollicitudin imperdiet neque, eu feugiat sem hendrerit
                    quis. Curabitur bibendum nunc at risus volutpat, quis finibus ipsum maximus. Donec id ipsum
                    facilisis, venenatis enim eu, placerat est. Integer at libero odio. Proin vulputate diam vitae
                    ligula hendrerit convallis.</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center section min-section-height black-section" id="how-to-book-section">
    <h3 class="section-heading py-5">How to Book</h3>
    <div class="row">
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1671663479/cld-sample-2.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Login and Create a Profile</h5>
                    <p class="">You can't book up to 5 Tickets for yourself and/or your friends and family wihtout Registering and creating a Profile!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1671663479/cld-sample-2.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">My Tickets</h5>
                    <p class="">When logged in, click on "My Tickets" tab where you can buy, edit and delet existing tickets!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1671663479/cld-sample-2.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Show Tickets</h5>
                    <p class="">Click on the "Show Tickets" tab to see who else is attending and wants to let you know who they are"</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}