{% extends "base.html" %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide section" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner min-section-height">
        <div class="carousel-item active">
            <div class="promote-race black-section">
                <div class="promote-race-text col-md-6 mx-auto py-5">
                    <h3 class="section-heading text-center pb-3">Show Tickets Bought  <i class="fa-solid fa-ticket"></i></h3>
                    <p>
                        Want to Know who you are sitting next to if you have already booked a ticket or maybe you're 
                        noisy and just want to know who is attending the race on Sunday? Well you're in luck! We've 
                        especially created a page for you to see who is going if they opt to share that they are attending. 
                        Reach out to your seat neighbours on social media or let it influence your seat selection based on 
                        the team people are supporting.
                    </p>
                    <div class="text-center">
                        <a class="remove-underline-f1" href="{% url 'show_attendees' %}">
                            <button class="btn btn-f1 my-3 text-center">Tickets Sold  <i class="fa-solid fa-ticket"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race red-section">
                <div class="promote-race-text col-md-6 mx-auto py-5">
                    <h3 class="section-heading text-center pb-3">Create a Profile  <i class="fa-solid fa-user"></i></h3>
                    <p>
                        In order to book a ticket, you must create a profile before progressing on any further. This is 
                        to ensure that we know you a bit better and can tailor the track race experience to you, as well as
                        using the details in the future to verify that you have purchased the ticket. In order to create a 
                        profile, you must have an account. Therefore, please login if you have an account. Otherwise, please 
                        register before filling in your profile.
                    </p>
                    <div class="text-center">
                        <a class="remove-underline-ticket" href="{% url 'profile' %}">
                            <button class="btn ticket-button my-3 text-center">Create a Profile  <i class="fa-solid fa-user"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="promote-race green-section">
                <div class="promote-race-text col-md-6 mx-auto py-5">
                    <h3 class="section-heading text-center pb-3">Race Details  <i class="fa-solid fa-circle-info"></i></h3>
                    <p>
                        Maybe you're toying with the idea of attending the race in 2026 or are stead fast in the fact that 
                        there's a seat in Stand C with your name on it? Either way, you'll want to know a bit more about the 
                        race and track itself. Spanning 5.33km, the anticlockwise circuit will provide challenges for the 
                        drivers, but the 20 turns and 3 DRS Zones should provide plenty of action. There is no better backdrop 
                        for an f1 street race as plenty of the Dublin's attractions can be found around every corner.
                    </p>
                    <div class="text-center">
                        <a class="remove-underline-f1" href="{% url 'home' %}#race-section">
                            <button class="btn btn-f1 my-3 text-center">Race Details  <i class="fa-solid fa-circle-info"></i></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="race-section" class="container-fluid text-center section white-section">
    <div class="row min-section-height">
        <h3 class="section-heading py-5">Race Details</h3>
        <div class="col-12 col-md-4 my-auto">
            <img class="img-fluid" id="track_graphic" src="https://res.cloudinary.com/grawnya/image/upload/v1674393431/track_with_stands_fok6ra.png"
            alt="Track image with stands">
        </div>
        <div class="col-12 col-md-8">
            <div>
                <div class="row pb-2">
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">Summer 2026</h4>
                        <p class="race-fact-title pb-4">Take Place</p>
                    </div>
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">5.33km</h4>
                        <p class="race-fact-title pb-4">Track Length</p>
                    </div>
                    <div class="col-12 col-md-4 my-auto">
                        <h4 class="race-fact">20</h4>
                        <p class="race-fact-title pb-4">Turns</p>
                    </div>
                </div>
                <div class="text-start px-5">	
                <p>
                    Spanning 5.33km in length, the highly-anticipated Dublin City Grand Prix will finally take place in the Summer of 2026! 
                    With 3 DRS zones and 20 turns, undoubtedly plenty of action will happen out on track, as 20 of the world's best drivers 
                    battle to become the first ever Dublin City Grand Prix winner.
                </p>
                <p>
                    Located in the heart of the city just south of the Liffey, the race will see drivers pass famous sights, 
                    such as Temple Bar, Christchurch and  St. Stephen's Green, before finishing the lap on College Green in front 
                    of Trinity College. 
                </p>
                <p>
                    To view the street track mapped out to the city, please click on the race track diagram with the stands. Alternatively, 
                    if you want to return to the image of the track layout with the stands, click on the Google Map image.
                </p>
                <p>
                    In this first round of ticket bookings, only 4 stands are on offer with 400 tickets available in total. More will be 
                    gradually released based on demand and the remaining tickets will be sold as part of our packages or ones provided by 
                    travel companies associated with us. To buy some tickets, please follow the steps in the section below.
                </p>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center section min-section-height black-section" id="how-to-book-section">
    <h3 class="section-heading py-5">How to Book</h3>
    <div class="row">
        <div class="col-12 col-md-4 pb-2 mb-4">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674583655/register_or_login_na4mx8.png"
                    class="card-img-top" alt="Register and Login Buttons in Navbar">
                <div class="card-body">
                    <h5 class="card-title lead-heading">Login and Create a Profile</h5>
                    <p>You can book up to 5 Tickets for yourself and your friends & family but Register and create a Profile first!</p>
                    <a class="remove-underline-f1" href="{% url 'account_login' %}">
                        <button class="btn btn-f1 my-3 text-center">Login</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2 mb-4">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674583799/my_tickets_fxgaqw.png"
                    class="card-img-top" alt="Preview of the 'My Tickets' Page">
                <div class="card-body">
                    <h5 class="card-title lead-heading">My Tickets</h5>
                    <p>After logging in, click on the "My Tickets" menu bar option in order to not only buy, but edit and delete existing tickets!</p>
                    <a class="remove-underline-f1" href="{% url 'my_tickets' %}">
                        <button class="btn btn-f1 my-3 text-center">My Tickets</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2 mb-4">
            <div class="card mx-auto">
                <img src="https://res.cloudinary.com/grawnya/image/upload/v1674584249/show_tickets_pxj42j.png"
                    class="card-img-top" alt="Sample Ticket on the 'Tickets Sold' page">
                <div class="card-body">
                    <h5 class="card-title lead-heading">Show Tickets</h5>
                    <p>Click on the "Tickets Sold" menu bar option to see who else is attending and wants to let you know their details!</p>
                    <a class="remove-underline-f1" href="{% url 'show_attendees' %}">
                        <button class="btn btn-f1 my-3 text-center">Tickets Sold</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contain-animation">
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="110" height="130" viewBox="0 0 426.000000 585.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,585.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M1102 5606 c-120 -44 -330 -166 -429 -250 -43 -36 -132 -126 -198
-201 -96 -108 -121 -132 -127 -118 -4 10 -16 88 -28 172 -22 158 -27 171 -72
186 -10 3 -37 -3 -60 -14 l-43 -19 43 -1 c35 -1 42 -4 42 -21 0 -28 -53 -27
-81 1 -13 13 -25 17 -30 12 -9 -9 51 -660 101 -1098 10 -93 22 -199 25 -235 4
-36 22 -195 41 -355 47 -392 82 -708 159 -1433 62 -586 219 -1885 231 -1903 3
-5 10 -9 16 -9 7 0 21 -8 32 -19 35 -31 78 -33 118 -6 44 30 52 68 38 180 -6
44 -28 251 -50 460 -38 350 -185 1573 -195 1621 -4 17 24 40 160 135 91 62
180 124 197 137 89 64 260 79 343 32 126 -73 143 -129 155 -490 8 -252 8 -257
47 -406 39 -151 40 -152 107 -238 75 -97 122 -127 222 -145 115 -21 272 23
434 122 61 37 431 316 525 396 204 173 389 276 665 371 69 24 190 69 270 99
l145 56 30 85 c29 83 30 89 28 265 -1 99 -11 286 -22 415 -39 448 -38 514 10
1015 24 253 39 332 128 675 38 146 70 272 72 280 5 21 -84 25 -224 10 -217
-22 -454 -84 -660 -173 -229 -98 -621 -349 -811 -520 -259 -231 -390 -303
-544 -295 -121 5 -208 60 -236 147 -27 86 -27 139 0 345 39 304 27 421 -58
564 -45 75 -106 135 -169 168 -47 24 -68 28 -154 31 -93 3 -106 1 -193 -31z
m289 -31 c23 -9 67 -34 97 -57 l55 -41 -7 -111 c-7 -112 -35 -858 -37 -996
l-1 -75 -13 111 c-7 60 -18 137 -25 170 -18 92 -79 275 -103 312 -33 49 -89
72 -175 72 l-72 0 0 -37 c0 -21 11 -171 25 -333 13 -162 23 -295 22 -296 -1
-2 -27 4 -57 13 -71 19 -173 11 -265 -20 l-70 -24 2 -49 c4 -92 61 -625 67
-631 3 -3 18 -1 32 6 47 21 226 40 284 29 28 -5 54 -7 57 -4 2 2 -7 152 -21
332 -14 180 -24 330 -21 332 7 8 161 -116 189 -152 15 -20 36 -56 47 -81 22
-49 50 -225 70 -432 7 -73 15 -133 18 -133 3 0 5 156 4 347 l-2 348 37 -76
c20 -41 62 -109 92 -149 l55 -74 17 129 c34 255 48 348 53 353 3 3 22 -3 43
-13 57 -28 173 -31 250 -7 l62 20 0 -27 c0 -14 -5 -53 -10 -86 -6 -33 -15
-114 -20 -179 -5 -66 -13 -142 -16 -169 -7 -46 -6 -50 12 -43 10 4 169 95 352
202 184 107 335 194 337 192 2 -2 -2 -132 -8 -290 -6 -159 -8 -291 -5 -294 4
-3 69 28 145 69 192 103 464 239 469 234 3 -3 12 -125 20 -273 8 -148 17 -270
19 -272 2 -2 26 9 55 23 68 34 389 175 399 175 5 0 12 -53 16 -117 3 -65 12
-163 19 -219 l12 -101 -125 -35 c-157 -45 -325 -111 -329 -129 -1 -8 15 -111
37 -229 22 -118 39 -215 38 -215 -1 -1 -76 -32 -167 -69 -154 -64 -373 -184
-456 -251 l-31 -26 -22 143 c-12 79 -28 180 -35 225 l-13 83 156 97 c86 53
228 130 316 171 88 41 163 77 166 80 8 8 -34 369 -44 378 -3 4 -145 -72 -314
-169 l-308 -175 -7 30 c-3 17 -9 121 -12 232 -4 111 -9 229 -12 263 l-6 62
-141 -71 c-258 -129 -551 -257 -563 -246 -3 3 2 117 10 254 8 137 14 250 12
251 -1 2 -28 -6 -59 -17 -96 -34 -204 -22 -277 30 l-29 21 -5 -23 c-3 -13 -7
-84 -11 -158 -11 -260 -18 -340 -29 -340 -18 1 -86 56 -112 91 l-23 32 -3
-124 -3 -124 -23 52 c-69 152 -121 227 -197 283 -31 23 -58 40 -60 38 -2 -2 3
-91 10 -198 8 -107 14 -203 15 -212 0 -16 -2 -16 -37 -1 -26 12 -68 17 -133
17 -80 0 -103 -3 -143 -23 -26 -13 -49 -22 -51 -20 -3 4 -46 382 -46 403 0 16
-71 -5 -176 -51 -57 -25 -106 -44 -108 -42 -4 4 -76 600 -76 624 0 6 65 46
145 89 128 68 144 80 140 99 -3 12 -18 123 -35 247 -17 124 -32 235 -35 247
l-5 22 -43 -24 c-23 -13 -82 -51 -132 -84 -49 -33 -91 -59 -93 -57 -6 6 -53
331 -50 348 3 16 237 262 243 256 2 -2 20 -97 40 -213 20 -115 38 -212 40
-214 3 -2 33 10 68 27 35 16 129 51 210 77 l145 48 -4 31 c-13 91 -54 539 -50
543 3 3 40 16 83 28 92 28 192 31 254 10z m2084 -625 c-24 -146 -49 -289 -55
-319 -5 -30 -8 -56 -6 -58 2 -3 26 5 53 17 52 24 465 171 468 167 2 -2 -66
-541 -69 -543 -8 -9 -500 -234 -503 -231 -6 7 17 348 31 467 7 58 12 106 11
108 -3 3 -158 -68 -470 -216 -93 -45 -171 -79 -173 -77 -4 3 46 543 54 592 5
29 20 40 142 111 76 44 162 92 192 108 48 24 362 144 367 140 1 0 -18 -120
-42 -266z m-3071 -905 c107 -764 146 -1132 146 -1380 0 -71 12 -197 35 -355
30 -215 34 -266 22 -249 -2 2 -43 303 -90 669 -100 761 -211 1766 -201 1823 3
21 8 37 9 35 2 -2 38 -246 79 -543z m1411 -750 c42 -5 79 -2 121 9 34 9 66 16
71 16 10 0 38 -528 29 -537 -9 -9 -96 -22 -154 -22 -66 -1 -120 25 -184 87
-32 31 -48 41 -48 30 0 -43 41 -567 46 -593 l6 -30 -42 40 c-107 100 -160 333
-159 686 l0 204 58 -120 c94 -193 90 -196 91 57 l0 216 53 -18 c28 -10 79 -21
112 -25z m-510 -181 c29 -31 56 -75 78 -128 19 -44 33 -82 32 -84 -2 -2 -18 6
-36 17 -18 11 -52 23 -76 27 -41 6 -42 8 -47 48 -13 109 -15 166 -6 166 6 0
30 -21 55 -46z m-421 -96 c4 -68 9 -137 12 -154 6 -30 2 -35 -58 -75 -34 -24
-95 -76 -133 -116 l-71 -72 -17 157 c-25 229 -28 214 46 264 96 65 201 127
208 122 3 -2 9 -59 13 -126z m1876 15 c0 -10 7 -83 15 -163 8 -80 15 -155 15
-168 0 -18 -35 -45 -188 -146 -194 -127 -481 -300 -487 -294 -2 2 -17 109 -34
238 -17 129 -34 245 -36 257 -4 19 1 24 37 33 190 50 535 182 618 236 43 28
60 30 60 7z m-1007 -807 c22 -9 62 -22 91 -27 47 -10 62 -8 155 21 56 18 105
29 109 26 5 -5 102 -477 102 -498 0 -16 -155 -80 -228 -95 -64 -13 -87 -14
-134 -4 -32 7 -58 17 -58 23 0 12 -78 511 -86 552 -3 15 -2 26 2 24 5 -2 26
-12 47 -22z m-1009 -1782 c6 -10 26 -38 44 -61 35 -46 38 -53 19 -53 -25 0
-97 84 -97 114 0 31 17 31 34 0z"/>
</g>
</svg>
</div>

{% endblock %}