{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-5 text-center">
    <h2>My Tickets</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
        ac sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
    </p>

    <button type="button" class="button mt-4 text-center submit-button">
        <a href="{% url 'new_ticket' %}">Register</a>
    </button>
</div>
<div class="row justify-content-center">
    Paste all existing here
</div>

    {% endblock %}