{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-5 text-center">
    <h2>Book a Ticket</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
        ac sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
    </p>
</div>
<div class="row justify-content-center">
    <div>
        <!-- Display both forms together -->
        <form method="POST">
            {% csrf_token %}

            <!-- Profile form -->
            {{ ticket_form.for_self | as_crispy_field }}
            {{ ticket_form.first_name | as_crispy_field }}
            {{ ticket_form.last_name | as_crispy_field }}
            {{ ticket_form.nickname | as_crispy_field }}
            {{ ticket_form.fave_team | as_crispy_field }}
            {{ ticket_form.nationality | as_crispy_field }}
            
            <!-- SVG to select seat -->
            
            <!-- ticket shape with details to post -->
            
            {{ ticket_form.show | as_crispy_field }}

            <button type="submit" class="button mt-4 text-center submit-button">Submit</button>

        </form>
    </div>
</div>

    {% endblock %}