{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-5 text-center">
    <h2>Book a Ticket</h2>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et arcu urna. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. In semper elit a nulla
        pellentesque, nec pharetra lorem pellentesque. Sed sapien arcu, molestie eu iaculis ut, aliquet
        ac sapien. Donec risus orci, malesuada a urna a, pretium finibus tellus. Curabitur dignissim massa
        vitae ipsum imperdiet fringilla. Etiam suscipit fermentum nisl. Phasellus ac aliquet ipsum, ac.
    </p>
</div>
<div class="row justify-content-center">
    <div>
        <!-- Display both forms together -->
        <form method="POST">

            {% csrf_token %}

            <!-- Profile form -->
            {{ ticket_form | crispy }}

            <!-- SVG to select seat -->
            
            <!-- ticket shape with details to post -->

            <p>Do you want to post this tickets to the Tickets Sold page?</p>
            <input type="radio" id="share_ticket" name="share_ticket" value="yes">
            <label for="share_ticket">Yes</label>
            <input type="radio" id="dont_share_ticket" name="dont_share_ticket" value="no">
            <label for="dont_share_ticket">No</label>

            <button type="submit" class="button mt-4 text-center submit-button">Submit</button>

        </form>
    </div>
</div>

    {% endblock %}