{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-5 text-center">
    <h2 class="lead-heading">Profile</h2>
    <p class="lead">
        In order to book a ticket, we need to know a bit more about you. Please fill out the form below
        with your details. Note that by accepting to fill in the form and providing us with information,
        we will use this to tailor your experience at not only the race, but alter future promotional events
        to suit what you would like to see at similar events in Ireland.
    </p>
</div>
<div class="row">
    <div>
        <form method="POST" class="f1-form">

            {% csrf_token %}

            <!-- Profile form -->
            {{ profile_form | crispy }}

            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-f1">Submit</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}