{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="py-5 text-center">
    <h2 class="lead-heading">Tickets Sold</h2>
    <p class="lead">
        It's the Summer of 2026 and you're beyond excited for the first ever Formula 1 Irish Grand Prix
        located just South of the Liffey in Dublin. You're either contemplating attending the race or you've
        already got one of the hottest tickets in town. Yet you're curious about who's attending the race.
        Will you be sitting next to the Orange Army, flares in hand, ready for any edge-of-seat-action? Or
        maybe you're sitting next to a myriad of Ferrari fans in the hopes that this year will (finally) be
        their year. Fret not! Anyone who buys a ticket has the option to share information and each person who
        opts to share these details can be found in the pages below. If they opt not to share details and remain
        shrouded in mystery, you'll just have to wait til the race to find out who your seat neighbours will be!
    </p>

    <a class="remove-underline-f1" href="{% url 'account_login' %}">
        <span class="btn btn-lg btn-f1 mt-4 text-center">Buy a Ticket
        </span>
    </a>
    <br>
</div>
<br>
<div class="row justify-content-center">
    {% for ticket in ticket_list %}
    {% if ticket_list|length == 0 %}
    <div class="col-12 col-md-4">
        <h2>No one has booked or ticket or everyone is keeping it private</h2>
        <p>Come back later to see any updates</p>
    </div>
    {% else %}
    <div class="col-12 col-md-4 pb-2">
        <div class="card mx-auto">
            <div class="ticket {{ ticket.fave_team }}">
                <div class="logo">
                    <span class="logo-icon logo-icon-{{ticket.fave_team}}"></span>
                </div>
                <div class="nickname pt-3">
                    {{ticket.nickname}}
                </div>
                <div class="flag">
                    <span class="flag-icon flag-icon-{{ticket.nationality}}"></span>
                </div>
                <div class="seat pt-3">
                    <span class="ticket-text">{{ticket.stand}}{{ticket.seat_number}}</span>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link remove-underline-f1">&laquo; PREV </a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link remove-underline-f1"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}